{{#if user_name}}
<h1>Hello, {{user_name}}</h1>
<img style="border-radius: 50%; max-width: 100px;" src="{{picture}}">
<br>
Have a nice day !
<h2>Wanna <a href="/logout">Log out</a></h2>
{{else}}
You does not login, Click here to <a href="/login">login</a>
{{/if}}
