.wrapper {
    width: 100%;
    height: 944px;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll ;
}

.chat {
    display: flex;
    position: fixed;
    bottom: 0px;
    padding: 0.5rem 0.2rem 0.5rem 1.8rem;
    border: 1px solid black;
    width: 100%;
}

.messageInput {
    border-radius: 0.5rem;
    width: 55vw;
    background: rgba(217, 217, 217, 0.8);
}

.submit {
    background: rgba(0, 204, 144, 0.8);
    border: none;
    border-radius: 0.52em;
    width: 10vw;
    margin-left: 0.5rem;
}