<h1>Here is the backofficer page</h1>
<h1>Hello, {{user_name}}</h1>
<img style="border-radius: 50%; max-width: 100px;" src="{{picture}}">
<br>
Have a nice day !
<br>
<h2>Hang out with your friends !!! <a href="/backofficer/chat-app">Chat</a> </h2>
<br>
<h2>Wanna <a href="/logout">Log out</a></h2>