.wrapper {
    height: calc(0.27*944px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // flex-direction: row-reverse;
    padding-right: 5%;
    // right: 10%;
}

.firstMount {
    background: rgba(0, 204, 144, 0.8);
}

.page {
    background: #C4C5D0;
    border: none;
    margin: 0 0.2rem;
    cursor: pointer;
}