.sidebar {
    width: 4%;
    min-width: 4%;
    height: 944px;
    background-color: black;
    color: white;
    border: white;
    transition: width 0.3s ease;
    & span {
        width: 0;
        height: 0;
        padding: 0 15px;
        transition: width 0.3s ease;
       
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .page:hover {
        background-color: #3f5159;
        border-right: 5px #308f23 solid;
    }
}
.sidebar_open {
    width: 18%;
    transition: width 0.3s ease;
    & .page {
        & span {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}



.inner {
    margin-top: calc(0.14 * 944px);
}

.page {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    
}