.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width: 100%
}
.buttons {
    height: calc(0.05*944px);
    display: flex;
    align-items: center;
}

.container {
    height: calc(0.03*944px);
    position: absolute;
    right: 100px;
}

.button,
.add {
    width: 85px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button,
.add,
.search {
    margin: 0 0.5rem;
}

.button {
    background-color: #C4C5D0;
}

.add {
    background-color: #00CC90CC;
}

.boardTitle {
    height: calc(0.07*944px);
    background-color: #D9D9D9;
    display: flex;
    align-items: center;

}

.boardTitle,
.boardContent {
    width: 92.7%;
    margin: 0 50px 0 50px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardRow {
    height: calc(0.06*944px);
}

.checkBox {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    right: 15%;
}

.plus {
    position: relative;
    left: 40%;
}

.content1 {
    width: 13.2%;
}

.content2 {
    width: 32.7%;
}

.content3 {
    width: 27.3%;
}

.content4 {
    width: 15%;
}

.content5 {
    width: 11.8%;
}