.wrapper {
    box-sizing: border-box;
    //width: 82%;
    height: calc(0.14 * 944px);
    border: 1px solid #000000;
}

.name {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 200;
    font-size: 2rem;
    height: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
}

.buttons {
    display: flex;
    padding-left: 4rem;
}

.defaultButton,
.assign,
.create{
    width: 85px;
    height: 30px;
    background-color: transparent;
    border: 1px groove #C4C5D0;
    cursor: pointer;
}

.assign {
    margin-right: 1.5rem;
    background-color: #00CC90CC;
}

.taskButton {
    position: absolute;
    right: calc(100px + 0.5rem);
    padding-top: 0.15rem;
}